src/main/resources/cinema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="cinema">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="film" type="filmType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="filmType">
        <xs:sequence>
            <xs:element name="titre" type="xs:string"/>
            <xs:element name="realisateur" type="xs:string"/>
            <xs:element name="annee" type="xs:integer"/>
            <xs:element name="genre" type="xs:string"/>
            <xs:element name="duree" type="xs:integer"/>
            <xs:element name="acteurs">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="acteur" type="xs:string" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required"/>
    </xs:complexType>

</xs:schema>